html {
  --pink: #ff3385;
  --hot-pink: #ff0066;
  --white: #fff;
  --black: #000;
  --off-black: #1d1d1d;
  --blue: #9b5fe4;
  --dim-blue: #7a0acc;
  --deep-blue: #9009f4;
  --light-blue: #c876ff;
  --less-light-gray: #bcbcbc;
  --medium-light-gray: #d1d1d1;
  --light-gray: #eaeaea;
  --dark-gray: #333;
  --dim-text: #343a3e;
  --dark-text: #142630;

  /* Old stuff: */
  --button-fg: rgb(155, 95, 228);
}

@media (dynamic-range: high) {
  @supports (color: oklch(0% 0 0)) {
    html {
      --pink: oklch(75% 0.3 3);
      --hot-pink: oklch(65% 0.3 3);
      --blue: oklch(75% 0.3 280);
      --deep-blue: oklch(65% 0.3 280);
    }
  }
}
